@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Create">

    <label for="Id">ID:</label>
    <input name="Id" id="Id" type="text"  readonly />

    <label for="Title">Title:</label>
    <input name="Title" id="Title" type="text"  />

    <label for="Description">Description:</label>
    <input name="Description" id="Description" type="text"  />

    <label for="AuthorId">Author ID:</label>
    <input name="AuthorId" id="AuthorId" type="text"  />

    <button type="submit">Save</button>
</form>

